body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(56, 56, 56);
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin-top: 140px;
    background: rgba(197, 195, 195, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgba(208, 201, 201, 0.422);
    width: 350px;
    text-align: center;
    
}
h2 {
    color: #000000;
    margin-bottom: 20px;
    
}
label {
    margin-top: 10px;
    color: #444;
    /*display: block;
    font-weight: bold;
    
    text-align: left;*/
    text-align: left;
    display: block;
}
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
    background: red;
    font-size: 14px;
    background-color: #eaeaea;
}
button {
    
    padding: 12px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    transition: 0.5s;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    font-size: 14px;
    background-color: #eaeaea;
}

button:hover {
    background: rgba(20, 20, 20, 0.285);
    
}